.root {
    -fx-background-color: #DFC1F4;
    -fx-font-family: "Georgia", sans-serif;
}

.header-label {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10px 0 10px 0;
}

.text-field, .password-field, .text-area {
    -fx-font-size: 14px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 8px;
}

.button {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

.button-primary {
    -fx-background-color: #F7F0FB; /* Blue */
    -fx-text-fill: #333333;
}

.button-primary:hover {
    -fx-background-color: #E0E0E0;
}

/* Secondary buttons (Read, Switch Views) */
.button-secondary {
    -fx-background-color: #6c757d; /* Grey */
    -fx-text-fill: white;
}

.button-secondary:hover {
    -fx-background-color: #5a6268; /* Darker grey on hover */
}